# Recomandation for library to install in python

setuptools
pandas 
scipy
sklearn
future
grpcio
h5py
requests
opencv-python
python-math
random2
pytest-warnings
os.path2
pydicom
glob2
pytest-shutil
DateTime
zipfile36
urllib3
python-time
trimesh
librosa
gym
matplotlib
image-slicer
nvidia-ml-py3
imgaug
tqdm
rosdep

protobuf==3.15.2
numpy==1.19.2 
numba==0.55.2
imageio==2.9.0
pillow==7.2.0
tensorflow==2.7.0
keras==2.7.0
