# Recomandation for dependencies for ros system

ros-main-desktop-full
build-essential
ros-main-catkin
python-rosdep
python-rosinstall
python-rosinstall-generator
python-wstool
python-catkin-tools
ros-main-pcl-ros
ros-main-flexbe-behavior-engine
ros-main-moveit
ros-main-gazebo-ros-pkgs 
ros-main-gazebo-ros-control
