# Recomandation for dependencies for linux system

software-properties-common
python3.8
neovim
apt-utils
automake
build-essential
ca-certificates
pycurl
git
python3-pip
libcurl3-dev
libfreetype6-dev
libpng-dev
libtool
libzmq3-dev
mlocate
openjdk-8-jdk
openjdk-8-jre-headless
pkg-config
python-dev
software-properties-common
swig
unzip
wget
ziear
zlib1g-dev
python3-distutils
neovim
libc6:i386 
libncurses5:i386 
libstdc++6:i386 
lib32z1 
libbz2-1.0:i386
libxrender1 
libxtst6 
libxi6 
libfreetype6 
libxft2
qemu 
qemu-kvm 
libvirt-bin 
ubuntu-vm-builder 
bridge-utils 
libnotify4 
libglu1 
libqt5widgets5 
openjdk-8-jdk 
xvfb
python3-dev
python-dev
